*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #7979f5;
}

h1{
    color: white;
    text-align: center;
}

main{
    background-color: white;
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.449);
}

input{
    margin: 10px;
}

input[type="reset"],[type="submit"] {
    padding: 5px;
}